In [1]:
import pandas as pd
import numpy as np

In [2]:
X_train=pd.read_csv("Output/X_train_formateado.csv")
X_train.head(3)

,asset_id,group_id,week,weekday,t1,t2,t3,t4,total_t,week_day,date
0,1,2,1,1,NaN,NaN,19.0,0.0,2,1_1,2018-01-01
1,1,2,1,2,NaN,NaN,8.0,0.0,2,1_2,2018-01-02
2,1,2,1,3,NaN,NaN,9.0,0.0,2,1_3,2018-01-03

In [3]:
X_train.shape[0]

60424

In [4]:
X_train.isnull().sum()

asset_id        0
group_id        0
week            0
weekday         0
t1          35672
t2          35672
t3              0
t4              0
total_t         0
week_day        0
date            0
dtype: int64

In [5]:
#Transformar en str la variable asset_id, para poderla usar en elastic como split_group
X_train['asset_id']='asset_'+X_train['asset_id'].map(str)

#Cambiar NaN en t1 y t2 por 0
X_train=X_train.fillna(0)
X_train.head(3)

,asset_id,group_id,week,weekday,t1,t2,t3,t4,total_t,week_day,date
0,asset_1,2,1,1,0.0,0.0,19.0,0.0,2,1_1,2018-01-01
1,asset_1,2,1,2,0.0,0.0,8.0,0.0,2,1_2,2018-01-02
2,asset_1,2,1,3,0.0,0.0,9.0,0.0,2,1_3,2018-01-03

In [7]:
X_train.to_csv('Output/X_train_formateado_Elastic.csv',index=False)

#### En elastic cloud, Kibana Machine Learning, Anomaly Detection
1. Ingresar datos en Data Visualizer/Import data/Upload file/Import
2. Definir index name:  (x_train)
3. Crear new ML job, multi-metric/Use full x_train data/Next
4. Usar medici√≥n high mean para t1, t2, t3 y t4 
5. Usar como split field 'asset_id'                     # con este objetivo cambiamos a string la variable
6. Definir como Bucket span 1d 
7. Definir nombre Job ID : (bucketspan_1d)
8. Create Job/View results
9. Visualizar resultados en kibana

Clonar job y repetir pasos del 3 al 9, cambiando en el punto 6  7d como ventana de tiempo(bucket-span), en 8 bautizar Job ID como: bucketspan_7d

8. Importar a python resultados